src/test/category.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="category" type="categoryType"/>
    <xs:complexType name="categoryType">
        <xs:sequence>
            <xs:element type="xs:string" name="categoryId"/>
            <xs:element type="xs:string" name="categoryName"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>